### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [317]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [318]:

player_count = purchase_data['SN'].nunique()
print(f"There are {player_count} players")

There are 576 players

In [319]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [320]:
unique_items = purchase_data['Item ID'].nunique()

average_price = purchase_data['Price'].mean()

num_purchases = purchase_data['Purchase ID'].count()

total_revenue = purchase_data['Price'].sum()

summary_df = pd.DataFrame({"Summary": ['Player Count', "Unique Items", "Average Price/Purchase", "Total Number of Purchases", "Total Revenue"],
    "Value": [player_count, unique_items, average_price, num_purchases, total_revenue]})
summary_df

                     Summary        Value
0               Player Count   576.000000
1               Unique Items   183.000000
2     Average Price/Purchase     3.050987
3  Total Number of Purchases   780.000000
4              Total Revenue  2379.770000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [321]:
percent_group = purchase_data.groupby('Gender')

summary_gender = percent_group['Purchase ID'].count()
summary_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [322]:
male_gender = purchase_data[purchase_data["Gender"] == "Male"]
male_gender_count = male_gender['SN'].nunique()

female_gender = purchase_data[purchase_data["Gender"] == "Female"]
female_gender_count = female_gender['SN'].nunique()

other_gender = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_gender_count = other_gender['SN'].nunique()

male_percentage = male_gender_count / player_count
female_percentage = female_gender_count / player_count 
other_percentage = other_gender_count / player_count

In [323]:
gender_summary_df = pd.DataFrame({"Gender": ['Male', "Female", "Other / Non-Disclosed"],
    "% of gamers": [male_percentage*100, female_percentage*100, other_percentage*100]})
gender_summary_df

                  Gender  % of gamers
0                   Male    84.027778
1                 Female    14.062500
2  Other / Non-Disclosed     1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [324]:
male_purchase_count = male_gender['Purchase ID'].nunique()
female_purchase_count = female_gender['Purchase ID'].nunique()
other_purchase_count = other_gender['Purchase ID'].nunique()

male_avg_price = male_gender['Price'].mean()
female_avg_price = female_gender['Price'].mean()
other_avg_price = other_gender['Price'].mean()

male_total_price = male_gender['Price'].sum()
female_total_price = female_gender['Price'].sum()
other_total_price = other_gender['Price'].sum()

male_sort = male_gender.groupby('SN')
male_avg_ptran = male_sort['Price'].mean()
female_sort = female_gender.groupby('SN')
female_avg_ptran = female_sort['Price'].mean()
other_sort = other_gender.groupby('SN')
other_avg_ptran = other_sort['Price'].mean()

male_total = male_total_price/male_purchase_count
female_total = female_total_price/female_purchase_count
other_total = other_total_price/other_purchase_count


purchasing_analysis_df = pd.DataFrame({"Gender": ['Male', "Female", "Ohter / Non-Disclosed"],
    "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
     "Average Purchase Price": [male_avg_price, female_avg_price, other_avg_price],
    "Total Purchase Value": [male_total_price, female_total_price, other_total_price],
    "Average Purchase Total per Person by Gender": [male_total,female_total,other_total]
                                      })
purchasing_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
0,Male,652,3.017853,1967.64,3.017853
1,Female,113,3.203009,361.94,3.203009
2,Ohter / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [325]:
bins = [0,10,14,19,24,29,34,39,40]

group_names = ["<10","10-14","14-19","19-24","24-29","29-34","34-39","40+"]

age_demo = purchase_data
age_demo["Age Group"] = pd.cut(age_demo["Age"], bins, labels=group_names)
age_summary = age_demo.groupby("Age Group")
purchase_count = age_summary['Purchase ID'].count()
age_group_df = pd.DataFrame(purchase_count).rename(columns={"Purchase ID":"# of Players"})

age_group_df

           # of Players
Age Group
<10                  32
10-14                19
14-19               136
19-24               365
24-29               101
29-34                73
34-39                41
40+                   6

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [326]:
purchase_count = age_summary['Purchase ID'].count()
avg_per_price = age_summary['Price'].mean()
total_purchase_price  = age_summary['Price'].sum()

avg_per_purchase = total_purchase_price/purchase_count
avg_per_purchase

new_df = pd.DataFrame(purchase_count)
avg_df = pd.DataFrame(avg_per_price)
total_df = pd.DataFrame(total_purchase_price)
avg_df = pd.DataFrame(avg_per_purchase)
combined_df = pd.merge(new_df, avg_df, how='outer', on='Age Group')
combined_df = pd.merge(combined_df, total_df, how='outer', on='Age Group')
combined_df = pd.merge(combined_df, avg_df, how='outer', on='Age Group')
combined_df = combined_df.rename(columns={"Purchase ID":"Purchase Count",
                                          "0_x":"Average Purchase Price",
                                          "Price":"Total Purchase Value",
                                         "0_y":"Average Purchase Total per Person by Age Group"})
combined_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age Group,,,,
<10,32,3.405000,108.96,3.405000
10-14,19,2.681579,50.95,2.681579
14-19,136,3.035956,412.89,3.035956
19-24,365,3.052219,1114.06,3.052219
24-29,101,2.900990,293.00,2.900990
29-34,73,2.931507,214.00,2.931507
34-39,41,3.601707,147.67,3.601707
40+,6,2.785000,16.71,2.785000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [327]:
top_spender_data = purchase_data.groupby(["SN"])

SN_purchase_count = top_spender_data['Purchase ID'].count()
SN_purchase_count_df = pd.DataFrame(SN_purchase_count)

SN_purchase_average = top_spender_data['Price'].mean()
SN_purchase_average_df = pd.DataFrame(SN_purchase_average)


SN_purchase_amount = top_spender_data['Price'].sum()

SN_purchase_amount_df = pd.DataFrame(SN_purchase_amount)
SN_purchase_amount_df = SN_purchase_amount_df.sort_values("Price", ascending=False)

top_spender_df = pd.merge(SN_purchase_amount_df_sorted,SN_purchase_count_df,how='outer',on='SN')
top_spender_df = pd.merge(top_spender_df,SN_purchase_average_df,how='outer',on='SN')
top_spender_df = top_spender_df.rename(columns={"Total Amount Sent":"Total Amount Spent",
                                               "Purchase ID": "# of Purchases",
                                               "Price":"Average Amount Spent"})

top_spender_df.head(5)

             Total Amount Spent  # of Purchases  Average Amount Spent
SN
Lisosia93                 18.96               5              3.792000
Idastidru52               15.45               4              3.862500
Chamjask73                13.83               3              4.610000
Iral74                    13.62               4              3.405000
Iskadarya95               13.10               3              4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [425]:
most_pop_list = purchase_data[['Item ID','Item Name','Price','Purchase ID']].groupby(["Item Name","Item ID"])
item_list = most_pop_list['Item ID'].count()
pop_item_df = pd.DataFrame(item_list)
item_price = most_pop_list['Price'].sum()
item_price_df = pd.DataFrame(item_price)
item_id = most_pop_list['Item ID','Item Name']
item_id_df = pd.DataFrame(item_id)
item_price_df.head()

merge_df_1 = pd.merge(item_price_df,pop_item_df,how='outer',on='Item Name')
merge_df_1 = merge_df_1.rename(columns={"Item ID":"Total Purchases"})


#merge_df_2 = pd.merge(merge_df_1,item_id_df,how='outer',on='Item ID')

merge_df_1.head()
most_pop_list.head()

ValueError: No axis named Total Purchases for object type <class 'type'>

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [418]:
most_profitable_set = purchase_data.groupby(["Item ID"])


new_group_idea = purchase_data[['Item ID','Item Name','Price','Purchase ID']]
new_group_group = new_group_idea.groupby(["Item ID","Item Name","Price"])
newgroupid_df = pd.DataFrame(new_group_idea)
total = new_group_group['Price'].sum()

purchase_id_count = new_group_group['Purchase ID'].count()
purchase_id_count_df = pd.DataFrame(purchase_id_count)
total_df =pd.DataFrame(total) 
group_sort = purchase_id_count_df.sort_values('Purchase ID', ascending=False)
group_sort_df = pd.DataFrame(group_sort)
group_sort_df = group_sort_df.rename(columns={"Purchase ID":"Total Purchases"})

group_sort_df.head()

                                                            Total Purchases
Item ID Item Name                                    Price
178     Oathbreaker, Last Hope of the Breaking Storm 4.23                12
145     Fiery Glass Crusader                         4.58                 9
108     Extraction, Quickblade Of Trembling Hands    3.53                 9
82      Nirvana                                      4.90                 9
19      Pursuit, Cudgel of Necromancy                1.02                 8